body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #000000;
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1em 2em;
    border-radius: 20px;
    border: solid 1px;
    color: aliceblue;
    background-color: rgba(65, 61, 61, 0.137);
    transition: 600ms;
}

button:hover {
    background-color: rgba(65, 61, 61, 0.575);
}

p {
    top: 55%;
    position: absolute;
    left: 50%;
    display: inline-block;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-size: 15px;
    color: aliceblue;
    padding: 1em 2em;
    border-radius: 20px;
    border: solid 1px;
    background-color: rgba(65, 61, 61, 0.575);
}